.welcome{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("../static/images/BLOG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top: 50px;
    color:white;
}
p{
    color: red;
}